[submodule "extended-ml-agents"]
	path = extended-ml-agents
	url = https://github.com/teodav/extended-ml-agents.git
[submodule "Hummingbirds"]
	path = Hummingbirds
	url = https://github.com/teodav/Hummingbirds.git
[submodule "truffle-training"]
	path = truffle-training
	url = https://github.com/teodav/truffle-training.git
